<ion-card>
  <ion-card-header>
    <ion-card-title>{{inBoxObj.title}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <ion-item>

      <ion-input clearInput [(ngModel)]="number1" type="number"  placeholder="نفر اول"></ion-input>
    </ion-item>

    <br>
    <ion-item *ngIf="inBoxObj.is_two">

      <ion-input  clearInput [(ngModel)]="number2" type="number" placeholder="نفر دوم"></ion-input>
    </ion-item>
    <br>
    <ion-button (click)="submitEnterance()">ثبت</ion-button>
    <hr>
    <ion-item>

      <ion-input clearInput [(ngModel)]="winner" type="number" placeholder="برنده"></ion-input><br>
    </ion-item>
        <br>

    <ion-button (click)="submitWin()">ثبت</ion-button>
  </ion-card-content>
</ion-card>



