<ion-card>
  <ion-card-header>
    <ion-card-title>{{inBoxObj.title}}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
<ion-item>

      <ion-input clearInput placeholder="نفر اول" ></ion-input>
    </ion-item>

      <br>
<ion-item>

     <ion-input clearInput placeholder="نفر دوم"></ion-input>
</ion-item>
  <br>
     <ion-button>ثبت</ion-button>
      <hr>
<ion-item>

      <ion-input clearInput placeholder="برنده"></ion-input><br></ion-item>
      <ion-button>ثبت</ion-button>
  </ion-card-content>
</ion-card>



