<ion-header>
  <ion-toolbar>
      <ion-buttons slot="end">
        <ion-back-button defaultHref="/adminpage"></ion-back-button>
      </ion-buttons>
    <ion-title>تراکنش های کلی</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- {{transactions|json}} -->
<!-- <table class="table table-striped">
  <thead>
  <tr>
  <th>#</th>
  <th>ای دی تیم</th>
  <th>actionId</th>
  <th>مقدار</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let i of transactions">

</tr>
</tbody>
</table> -->

<ion-grid class="ion-margin">
  <ion-row>
    <ion-col>#</ion-col>
  <ion-col>ای دی تیم</ion-col>
  <ion-col>actionId</ion-col>
  <ion-col>مقدار</ion-col>
  </ion-row>
  <ion-row *ngFor="let i of transactions">
    <ion-col>{{i.id}}</ion-col>
    <ion-col>{{i.team_id}}</ion-col>
    <ion-col>{{i.actionId|transactionId2Str}}</ion-col>
    <ion-col >{{i.withdrawAmount}}</ion-col>
  </ion-row>
</ion-grid>
</ion-content>
