<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">خروج</ion-button>
    </ion-buttons>
    <ion-title>
      رایان رویش
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">
        شهر رایان رویش
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <app-message *ngFor="let section of getSections()" [section]="section"></app-message>
  </ion-list>
</ion-content>
